* {
	box-sizing: border-box;
}

body,
html {
	padding: 0;
	margin: 0;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	font-family: 'Space Grotesk';
}

.header {
	background-image: url(bg-main-mobile.png);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 200px;
}

.card-1 {
	background-image: url(bg-card-back.png);
	width: 260px;
	height: 175px;
	background-repeat: no-repeat;
	background-size: contain;
	margin-left: 6rem;
	margin-top: 1rem;
	padding: 3.7rem;
	letter-spacing: 0.1em;
	color: hsl(270, 3%, 87%);
}

.card-1 p {
	margin-top: 0.13rem;
	margin-left: 8.6rem;
	margin-bottom: 0;
	font-size: 0.8rem;
}

.card-2 {
	background-image: url(bg-card-front.png);
	width: 260px;
	height: 175px;
	background-repeat: no-repeat;
	background-size: contain;
	margin-left: 1rem;
	margin-top: -6rem;
	letter-spacing: 0.1em;
	color: hsl(270, 3%, 87%);
}

.input-flex {
	display: flex;
	flex-direction: column;
	margin-top: 5rem;
	width: 85%;
}

.input-flex label {
	font-size: small;
	margin-bottom: 0.5rem;
	color: #21092f;
	letter-spacing: 0.2em;
}

.input-flex input {
	font-size: large;
	margin-bottom: 1rem;
	height: 3rem;
	padding-left: 1rem;
	border-radius: 10px;
	border-style: solid;
	border-color: #cccccc;
	letter-spacing: 0.05em;
	font-family: 'Space Grotesk';
}

.input-flex :placeholder-shown {
	font-size: 1rem;
	opacity: 0.5;
}

.exp-date-flex input {
	margin-top: 0.5rem;
}

.card-2 img {
	width: 55px;
	margin-left: 1rem;
	margin-top: 1.2rem;
}

.exp-date-card-flex {
	display: flex;
	font-size: 0.7rem;
	justify-content: space-between;
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
}

.card-2 .cardNumber {
	font-size: medium;
	padding-left: 1rem;
	margin-top: 1.7rem;
	margin-bottom: 0;
}

.exp-date-flex input {
	padding-left: 1rem;
	padding-right: 1rem;
	width: 20%;
}

.input-flex .input-label #cvc {
	margin-left: 0.6rem;
}

.input-flex .input-label #cvc {
	width: 51%;
}

button {
	background-color: #21092f;
	color: #ffff;
	padding: 0.7rem;
	font-family: 'Space Grotesk';
	border-radius: 10px;
	font-size: large;
	letter-spacing: 0.05em;
	margin-top: 1rem;
}

.input-flex-completed {
	margin-top: 5rem;
	width: 85%;
}

.complete-info {
	display: flex;
	flex-direction: column;
	letter-spacing: 0.1em;
	align-items: center;
	justify-content: center;
	justify-content: center;
}

.complete-info img {
	margin-bottom: 1.7rem;
}

.complete-info h1 {
	font-size: 1.7rem;
	letter-spacing: 0.2em;
	color: #21092f;
}

.complete-info p {
	width: 100%;
	color: hsl(279, 6%, 55%);
	padding-left: 1.2rem;
}

.complete-info button {
	width: 100%;
	margin-bottom: 4rem;
}

.input-flex-completed .complete-info::after {
	content: '';
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	height: 2px;
}

.input-flex-completed .complete-info::before {
	content: '';
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	height: 2px;
}

#input-flex-completed {
    display: none;
	position: absolute;
	width: 100%;
	top: 4rem;
	left: 0;
	padding: 1rem;
	transition: all 0.3s ease;
	transform: scaleY(1);
	visibility: visible;
	z-index: 9999;
}

.header-ham-right.hide {
	transform: scaleY(0);
	visibility: hidden;
}
/* When the browser is at least 768px and above */
@media screen and (min-width: 768px) {
	.container {
		display: flex;
		flex-flow: row;
		justify-content: flex-start;
		align-items: center;
        height: 100vh;
	}

	.header {
		background-image: url(bg-main-desktop.png);
		background-size: cover;
		background-repeat: no-repeat;
		height: 100%;
		width: 30%;
	}

	.cards {
		display: flex;
		flex-direction: column-reverse;
		margin-left: 3.5rem;
	}

	.input-flex {
		width: 24%;
		margin-left: auto;
		margin-right: auto;
		margin-top: -2rem;
	}

	.input-flex :placeholder-shown {
		font-size: medium;
		opacity: 0.5;
	}

	.card-1 {
		width: 600px;
	}

	.card-1 p {
		font-size: 0.8rem;
		margin-top: 1.2rem;
		margin-left: 12rem;
	}

	.card-2 {
		margin-left: 1rem;
		margin-top: 10rem;
		margin-bottom: 0.5rem;
		width: 600px;
	}

	.card-2 img {
		width: 70px;
		margin-left: 1.4rem;
		margin-top: 1.4rem;
	}

	.card-2 .cardNumber {
		font-size: larger;
		padding-left: 1.5rem;
		margin-top: 2.3rem;
		margin-bottom: 0;
	}
	.exp-date-card-flex {
		display: flex;
		font-size: 0.8rem;
		justify-content: space-between;
		width: 52.5%;
		padding-left: 1.5rem;
		padding-bottom: 0;
		margin-top: 0.3rem;
	}
}
